/* Styling the feature post in home page */

.features {
  grid-area: feat;
  margin-bottom: 5rem;
}

.feature-post {
  margin: auto;
  padding: 3rem 0 5rem;
  width: 88%;
  border-radius: 3px;
  background-color: #2a3039;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: 0.4s ease-in-out;
}

.feature-post .feature-post-header {
  width: 1fr;
}

.feature-post .feature-post-header img {
  width: 100%;
  opacity: 0.9;
  margin: 1rem 0;
}

.feature-post .feature-post-header .title {
  margin: 0 auto;
  text-align: start;
  width: 88%;
  font-size: 1.8rem;
  font-weight: bold;
  color: #d1d1d1;
}

.feature-post time {
  font-family: "Roboto", sans-serif;
  width: 88%;
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin: 0 auto 2rem;
  text-align: start;
  color: #b3b6b8;
}

.feature-post .feature-link h3,
.feature-post .feature-link p {
  width: 88%;
  text-align: start;
  margin: 0 auto 1.5rem;
}

.feature-post .feature-link h3 {
  font-size: 2rem;
  font-weight: bold;
}

.feature-post .feature-link p {
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.feature-post .feature-link {
  color: #d1d1d1;
}

.feature-post .feature-link:hover {
  color: #59eec2;
}
