/* Styling the footer of the page */

.footer {
  grid-area: foot;
  background-color: #2a3039;
  padding: 1rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footer p {
  color: #d1d1d1;
  font-weight: lighter;
  letter-spacing: 3px;
  margin-top: 2rem;
  text-align: center;
  font-size: 1.4rem;
}

.social-list {
  display: flex;
  margin: 1rem auto 0;
  list-style: none;
  padding: 1rem;
}

.social-list .social-link {
  margin: 1.5rem;
  color: #d1d1d1;
}

.social-list .social-link:hover {
  color: #59eec2;
}

.footer .move-to-header {
  align-self: flex-end;
  margin-right: 2rem;
  color: #b3b6b8;
}
